ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    
  }  

  li {  
    float: left;  
  }  

  li a {  
    display: block;  
    color: blue;  
    font-size:20px;  
    text-align: center;  
    padding-top: 5px ;  
    text-decoration: none;  
  }  